<p>detail-animal works!</p>
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div *ngIf="animal" class="col-10 col-sm-8 col-lg-6">
    <img [src]="animal.image"  class=d-block mx-lg-auto img-fluid alt="Bootstrap Themes" width="700" height="500" loading="lazy">
   </div>
  <div class="col-lg-6">
    <h1  class="display-5 fw-bold lh-1 mb-3">{{animal.name}}</h1>
    <p class="lead"> </p>
  </div>






<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <h2></h2>
   <ul class = "list-group">



      <li class="list-group-item"></li>


   </ul>
  </div>




  <div class= "row text-center">
    <h1>Reçette introuvable</h1>

   </div>

   <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <h2>Description</h2>

     <ol class = "list-group">



        <li class="list-group-item"> </li>


     </ol>


  </div>

</div>
